[2017-03-01 10:34] iaguis opened #2 "Support big cloudconfigs"
If the (compressed) cloudconfig is bigger than 16KB, AWS refuses to start the instance because that's the limit of User Data.

We can probably work around that by uploading the cloudconfig file to S3 [like kube-aws does](https://github.com/coreos/kube-aws/pull/268).

[2017-03-06 15:26] iaguis commented on #2
This is AWS-specific. Moving to https://github.com/giantswarm/aws-operator/issues/28

[2017-03-06 15:26] #2 closed

[2017-03-14 10:02] nhlfr opened #10 "Support for SSH public keys"
We need to inject SSH keys into cloudconfig.

Most probably, we will do it by providing ssh keys via extension, so the external operators can fill it with data received from cert-operator. Since cert-operator is not implemented yet, the aws- and kvm-operator can temporarily provide the keys by themselves.

[2017-03-14 17:17] asymmetric opened #12 "Conflicting usecases for etcd"
We have the following situation:

* The KVM setup has an outer and an inner etcd
* The AWS operator currently only handles one "layer"

This means that the etcd2 unit file has directives that don't work on AWS, e.g.

* [this one](https://github.com/giantswarm/k8scloudconfig/blob/2afcdc25c44ca95fa8fc0ac8568edf08bc7d12ab/templates/master.yaml#L527), which expects the outer etcd to be there
* [this o

[2017-03-14 18:27] xh3b4sd commented on #12
AFAIK the idea was to separate etcd from the master at some point. Etcd is then running in a clustered mode with three nodes managed by the etcd-operator. The first step for AWS could be to simulate the outer etcd. I thought this is already done. So running etcd within the AWS installation and pointing the guest cluster instances to it should do the trick. On AWS we can then simply start etcd clus

[2017-03-15 14:20] nhlfr opened #13 "Port master cloudconfig from the old branch in giantswarm/aws-operator"

[2017-03-15 14:21] nhlfr opened #14 "Port worker cloudconfig from the old branch in giantswarm/aws-operator"

[2017-03-16 17:58] asymmetric opened #22 "Bindata generation not deterministic"
On CircleCI, the `make update-bindata` command changes the `bindata.go` file.

Steps to reproduce:

* SSH into a CircleCI build (e.g. [this one](https://circleci.com/gh/kinvolk/k8scloudconfig/33))
* `cd $GS_WD && make update-bindata`
* `git status`

Strangely, this doesn't happen on my machine.

The version of `go-bindata` on CircleCI is 3.1.0, which matches mine.
The versions of go between me and

[2017-03-16 18:50] xh3b4sd commented on #22
I am already sick of this gobindata crap because it seems to cause too many unnecessary issues and this is super annoying. Like, it hurts more than brings value. We should actually concentrate on the important things. I see these options.

- Living with it and move on with out lives.
- Removing gobindata and keep templates as gostrings in usual go files. I know this is also shitty but I feel like

[2017-03-16 20:44] asymmetric commented on #22
FWIW, the situation [doesn't look too good](https://github.com/jteeuwen/go-bindata/issues/134) for the project.

No recent activity on PRs either.

[2017-03-17 10:08] iaguis commented on #22
We quickly found this is the problem.

Since we already have the commit hooks, Makefiles and so on, I'd suggest standardizing to a go version (currently it's 1.7.5 in architect) and keep using it. If we see it's still hindering us, let's switch to gostrings.

[2017-03-24 11:03] puja108 opened #33 "Update KubeDNS and sync yamls with upstream"
We are several versions behind on KubeDNS and it seems like some of our yaml is differing even to older upstream yamls (healthcheck port might not be the right one). Shouldn't be too much of a difference but some of the containers seem to have changed nowadays.

Official upstream (https://github.com/kubernetes/kubernetes/blob/master/cluster/addons/dns/kubedns-controller.yaml.base) is at 1.14.1 (to

[2017-03-24 11:05] puja108 commented on #33
While at it we should also look to solve this issue maybe: https://github.com/giantswarm/k8s-vm/issues/17 if not done so already

[2017-03-24 11:07] puja108 opened #34 "Update Ingress Controller"
Currently at most customers and in Leasweb (and G8s) we deploy 0.9 beta.3 which is running fine. We also enable both ConfigMap and Template changes by default.

We should sync this at some point to be running a single tested version of the IC.

[2017-03-27 16:58] xh3b4sd opened #38 "fix flannel bug like we did in Vodafone"
See https://github.com/giantswarm/utils/pull/93.

[2017-03-31 13:12] asymmetric commented on #12
The consensus is that on AWS we should stick as much as possible to the KVM setup, that means:

* having an outer etcd instance (or a cluster)
* not changing the unit file

[2017-03-31 13:12] #12 closed

[2017-03-31 15:09] #13 closed

[2017-03-31 15:09] #14 closed

[2017-03-31 15:15] nhlfr opened #40 "Make Calico self-hosted"
Make Calico self-hosted

http://docs.projectcalico.org/v2.0/getting-started/kubernetes/installation/hosted/

Currently we set up Calico with systemd units, without using containers, and with downloading binaries as a part of systemd unit, which really should be changed!

[2017-03-31 15:19] nhlfr opened #41 "kube-dns isn't working"
Towards giantswarm/giantswarm#1388

kube-dns doesn't work properly, the pod fails constantly.

We need to debug this.

[2017-03-31 15:20] nhlfr opened #42 "Use kubeadm"
Currently we are setting up Kubernetes components with systemd units. It would be nice to use kubeadm for that.

Pros:
- we can potentially get rid of the majority of the content of our cloudconfigs and don't define our own logic about deploying kubernetes
- apiserver, scheduler will become self-hosted
- it would take us closed to having fully self-hosted Kubernetes

Things to think about:
- [x] ~

[2017-04-06 09:51] asymmetric commented on #22
We don't use bindata since #26 .

[2017-04-06 09:51] #22 closed

[2017-04-19 09:12] nhlfr opened #45 "Fix the etcd port"
https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L694

It shoudn't be 443, rather 2379

[2017-04-19 09:15] nhlfr commented on #45
That's probably doesn't work https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L541

[2017-04-19 13:56] puja108 commented on #40
+1

I'm fiddling around looking into upgrading to a recent version (2.1.1+ needed for k8s 1.6+) and it's quite a mindfuck like it is right now.

[2017-04-19 14:13] puja108 commented on #42
this would make a lot of things we do manually currently, a lot of the addon and cni stuff would be already in there and updated with new k8s releases, so we also wouldn't need to take care of a lot of upgrades that we currently need to do manually and one-by-one

[2017-04-20 08:23] calvix commented on #40
We already running calico as k8s pod in g8s itself on aws so i would recommend copy anything necessary for that configuration !

https://github.com/giantswarm/gsegg/blob/initial_version/template-manifests/calico-node.yaml

[2017-04-20 08:29] puja108 commented on #40
cool

[2017-04-20 08:59] puja108 opened #46 "Use kubelet eviction policies"
We should start using eviction policies in guest clusters, this way we won’t run into cases where the guest clusters frags itself, we had the case at Vodafone and I also saw it completely destroying l8 cluster.

For a good overview see:
https://blog.kublr.com/learn-how-kubelet-eviction-policies-impact-cluster-rebalancing-2e976ebc53ea

Also in detail in docs:
https://kubernetes.io/docs/concepts/clu

[2017-04-20 11:25] calvix opened #47 "k8s audit logs"
enable k8s audit logs
similar as its done here:

https://github.com/giantswarm/k8s-vm/pull/157

[2017-04-20 15:47] #45 closed

[2017-04-21 10:43] nhlfr opened #49 "Remove calls to the external etcd cluster"
We are not going to use external etcd for storing info about guest clusters.

This line needs to be deleted:
https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L531

[2017-04-21 11:18] #49 closed

[2017-04-24 13:10] nhlfr opened #56 "Calico cannot connect to etcd with ssl"
Towards https://github.com/giantswarm/giantswarm/issues/1388

[code]

[2017-04-24 14:12] #56 closed

[2017-04-25 12:37] JosephSalisbury opened #61 "Remove etc-kubernetes-data-etcd.mount"
We don't use this anywhere, it's legacy from the old platform

[2017-04-25 12:38] JosephSalisbury opened #62 "k8s-addons should wait on apiserver, not scheduler"
Tiny nitpick, the addons script only relies on the api running, not the scheduler

[2017-04-25 12:54] #62 closed

[2017-04-25 12:57] #61 closed

[2017-04-26 08:25] nhlfr opened #66 "etcd cannot run"
Towards https://github.com/giantswarm/giantswarm/issues/1388

[code]

[2017-04-26 09:43] teemow commented on #10
Even more: There should be distinct users. Nobody should connect with the core user. Everybody should have it's own user.

It would be awesome if we could hook this up to dex and read users and keys from there.

ping @puja108

[2017-04-26 09:46] puja108 commented on #41
If we're running into a general bug with this version, we should consider upgrading KubeDNS, we're quite behind (1.9 vs 1.14.1) anyway there, but newer versions might also need other adjustments, so there'd be a risk.

[2017-04-26 09:51] puja108 commented on #10
+1 we need distinct users, on the one side it's about managing access, on the other side it's about being able to identify who did what (i.e. for audits)

I don't think Dex has that kind of functionality, it's pretty dumb from what I've seen, we would need a real IdM solution for that kind of foo. Or sth interfacing with Vault or so that gives us revokability of keys maybe?

[2017-04-26 15:55] #66 closed

[2017-04-30 16:05] rossf7 opened #69 "calico-node unit fails to start due to invalid IP"
Towards giantswarm/giantswarm#1388

Unit fails to start due to the error below. It looks like its because the env var BRIDGE_IP is not set. This is need to add a bgp peer using calicoctl.

[code]

See https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L609

[2017-04-30 16:09] rossf7 opened #70 "apiserver unit fails to start due to missing service account key"
Towards giantswarm/giantswarm#1388

Unit fails to start because there is no key file at /etc/kubernetes/secrets/token_sign_key.pem

[code]

See https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L705

[2017-05-01 07:01] calvix commented on #70
This file is used for signing and verifying service account HTTP auth Tokens, in early days we just used  same file as private key for api (`apiserver-key.pem` in old naming).

The reason why we had a separate file for it is that when this file has to be same and persistent any every restart vault will generate new unique private key for api-server.
When the api start for first time its used to ge

[2017-05-01 07:07] calvix commented on #69
`BRIDGE_IP` is on our barematel setup IP of flannel bridge.
In AWS setup I think it should have value of ip address which is used for communication between workers and master. So one of the internal ip.

[2017-05-01 12:10] rossf7 commented on #69
Using the DEFAULT_IPV4 env var instead of BRIDGE_IP works for adding the bgp peer. Although the cloudconfig needs to work for aws and bare metal.

There is also a permissions issue. The unit needs to save the key /calico/v1/host/{{.Node.Hostname}}-flannel/bird_ip to etcd but this fails with an invalid cert error. However calling etcdctl manually with the cert args works so the cert is valid. We se

[2017-05-01 12:15] rossf7 commented on #70
Setting the token using the API key `--service-account-key-file=/etc/kubernetes/ssl/apiserver-key.pem` in both the apiserver and controller-manager means that both units will start. However as you say the private key needs to be saved to persistent storage.

Lets discuss tomorrow when everyone is back.

[2017-05-02 09:59] nhlfr opened #72 "Wait for DNS records to be available"
Creating of Reoute 53 records takes some time, due to ELB health checks. We need to wait for the domains availability before setting up services.

[2017-05-02 13:44] calvix commented on #70
this is how we did it on old fleet infra

[code]

[2017-05-02 14:55] #72 closed

[2017-05-03 08:01] rossf7 commented on #70
For storing the key I think we could use S3 and encrypt with KMS as we do for certs. For generating the key since it needs to persist across vault restarts we could do it in the operator.

https://golang.org/pkg/crypto/rsa/#GenerateKey

[2017-05-03 09:33] xh3b4sd commented on #70
I take over to help out. My plan would be this.

- To get going and unblock testing the first simple thing we can do is just adding another TPO in kubernetesd and cert-operator to create another key-pair.
- Adding role configuration to the certificate TPR. That way certificates can be configured with very different TTLs. This does also prepare work for Kubernetes upgrades and works towards several

[2017-05-03 20:46] #69 closed

[2017-05-04 08:14] rossf7 commented on #69
BRIDGE_IP issue was fixed by creating a oneshot unit that creates /etc/calico-environment and sets the bridge IP to the internal IP.

[2017-05-04 13:04] #70 closed

[2017-05-04 14:22] xh3b4sd opened #80 "move certificate file to corresponding operators"
Right now we have certificate file management in here which is necessary for AWS. The aws-operator leverages KMS to encrypt/decrypt certificate data because we are storing the cloud config on S3. This is not necessary for KVM. So the aws-operator should define the list of files on its own as should the kvm-operator. For the kvm-operator the certificate file management is a bit more easy because we

[2017-05-04 14:48] rossf7 opened #81 "calico-node unit fails to start on worker nodes"
The calico-node unit fails to start because its waiting for the calico client cert. Need to find out why certs aren't being decrypted on worker nodes.

[2017-05-04 15:57] rossf7 opened #83 "NetworkSetup docker image moved from operator to kubernetes"
As part of supporting both AWS and KVM we removed the operator block from clustertpr. However the network setup image is needed by both AWS and KVM. It has been added to the kubernetes block in clustertpr.

We need to update kubernetesd to use the latest clustertpr structure to be able to launch guest clusters.

[2017-05-05 11:02] puja108 commented on #40
Looked further into it and etcdless might not be good for now, there's stuff missing like calico bgp itself and lot of other functionality, it only does policy enforcement. We should use http://docs.projectcalico.org/v2.1/getting-started/kubernetes/installation/hosted/hosted for now

[2017-05-05 13:51] puja108 commented on #40
I can get this running already. Some issues I still have:

- There's one thing we need to check, currently the etcd TLS setup is through a secret, I manually fiddled our certs in there, but we need to automate that secret creation (the secret needs to be in `kube-system` inside guest k8s).
- Currently, the DS only schedules to one node, not sure what is goign wrong with the discovery of the second

[2017-05-05 13:51] rossf7 commented on #83
Network setup unit is now running on master and workers

[2017-05-05 13:51] #83 closed

[2017-05-05 14:50] puja108 opened #85 "Pods can't be scheduled because of missing default service account(s)"
The (first) problem is controller-manager not starting up correctly because of a wrong flag:
https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L802

Changing the flag to `--service-account-private-key-file` makes the controller-manager start.

[2017-05-05 15:01] puja108 opened #87 "workers have etcd server instead of client certs mounted"
On a worker currently the same as on master:
[code]

[2017-05-05 15:01] #85 closed

[2017-05-05 15:13] puja108 commented on #87
Quickfix will be renaming `server` to `client` in the filenames here:
https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L1093-L1103

We will need to create different certs for clients instead of just using the server certs (issue incoming)

[2017-05-05 16:24] puja108 commented on #41
the problem seems to be following:
```reflector.go:199] pkg/dns/dns.go:148: Failed to list *api.Service: Get https://api.7pw6d.g8s.eu-west-1.adidas.aws.giantswarm.io/api/v1/services?resourceVersion=0: dial tcp: lookup api.7pw6d.g8s.eu-west-1.adidas.aws.giantswarm.io on 10.0.0.2:53: read udp 192.168.47.193:60928->10.0.0.2:53: i/o timeout```

`10.0.0.2` is Amazon DNS (route53 I guess) and seems to b

[2017-05-05 16:30] puja108 opened #89 "kubectl logs is not working"
this could be master<->worker problem but might also just be kubectl<->master problem as we're going through ELB and foo

[2017-05-05 16:34] #87 closed

[2017-05-05 16:59] puja108 commented on #81
I think this should be fixed now

[2017-05-08 07:37] calvix commented on #41
is pod network connection working all right in all directions  ( pod -> internet, pod -> pod, pod -> k8s master) ?

[2017-05-08 07:42] puja108 commented on #89
same problem with `kubectl exec` it seems

[2017-05-08 07:43] puja108 commented on #41
pod->k8s master seems to be working, other things I have not tested, partly because of: https://github.com/giantswarm/k8scloudconfig/issues/89

[2017-05-08 08:22] calvix commented on #41
I just saw https://github.com/giantswarm/k8scloudconfig/pull/90 this may be reason why this was not working.

also check if `leader-elector` is working fine

all components of calico needs to run fine or else kubedns wont work.

[2017-05-08 08:25] rossf7 commented on #41
Good spot and that makes sense. I'll launch a new cluster once the fix for #90 is deployed.

[2017-05-08 08:41] puja108 commented on #40
I tried it out on a local 2 worker vagrant setup with k8s 1.5.5 and got it working, so in general it should work with our setup considering the above points (especially 1 and 3) solved

[2017-05-08 09:05] xh3b4sd commented on #81
@rossf7 I moved this to PDV since I think it is done.

[2017-05-08 09:05] #81 closed

[2017-05-08 09:06] rossf7 commented on #81
Yes its done. I should have moved it.

[2017-05-08 13:21] rossf7 opened #91 "policy-controller unit erroring"
The unit starts but logs the error

[code]

[2017-05-08 13:37] puja108 commented on #91
Full error for context:

[code]

[2017-05-08 13:42] puja108 commented on #91
The error we are having with it is benign, it just happens if there’s no policies from the api server (as we didn’t set any): https://github.com/projectcalico/k8s-policy/issues/63

It is fixed in future versions but no need to hunt, I’ll close the issue.

[2017-05-08 13:42] #91 closed

[2017-05-08 13:56] puja108 commented on #89
This is a typical issue of running API behind an ELB. We need to set proxy protocol on the ELB, see similar issue from rancher:
https://github.com/rancher/rancher/issues/7425#issuecomment-274627648

[2017-05-08 14:36] puja108 commented on #41
kubedns seems to be working now, I cannot test because of #89 but the logs look like they should, will close for now

[2017-05-08 14:36] #41 closed

[2017-05-08 15:57] #89 closed

[2017-05-09 08:07] calvix commented on #40
@puja108 we run kubelet on core machines so that is fine, we jsut ahve to ahve different labels so on workers kubelet  an core kubelet

[2017-05-09 08:10] nhlfr commented on #40
Unfortunately, in k8scloudconfig we don't run kubelet on masters yet, we need to change that when implementing hosted installation.

[2017-05-10 09:58] puja108 commented on #40
The master kubelet should be tainted, and the calico DS has a toleration for that taint.

[2017-05-10 12:38] nhlfr commented on #42
I've updated the content a little bit and added some "working items".

[2017-05-12 09:25] kopiczko opened #100 "Secure CoreOS SSH config"
https://github.com/giantswarm/vodafone/issues/128

[2017-05-15 08:23] puja108 commented on #40
just as a sidenote: we could run a kubelet on masters, even without goign full self-hosted k8s

[2017-05-15 12:15] puja108 opened #102 "use individual accounts instead of core user"
This is a summary of several securiy tickets regarding use of the core user.

1. We should have individual users and not use the core user as a group account, because of IT forensics and audiabitlity https://github.com/giantswarm/vodafone/issues/123
2. We should remove the rights of the core user https://github.com/giantswarm/vodafone/issues/132 https://github.com/giantswarm/vodafone/issues/133 ht

[2017-05-15 15:06] asymmetric opened #103 "Always use HTTPS to talk to API server"
The `k8s-policy-controller` talks to the api server [over HTTP on the insecure port](https://github.com/giantswarm/k8scloudconfig/blob/86f54470ac49b178940aabc0574c2e753c1c52a5/templates.go#L883).

We should use the certs and HTTPS.

[2017-05-15 16:25] rossf7 opened #107 "policy-controller and leader-elector still use .Cluster.Docker.ImageNamespace"
For all other docker images we have the fully qualified image in `clustertpr`. Currently .Cluster.Docker.ImageNamespace is `giantswarm` so we use Docker Hub and not Quay.io.

See https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L871
https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L901

Ping @JosephSalisbury in case this affects the re-tagger.

[2017-05-15 16:30] JosephSalisbury commented on #107
We'll need to use quay for these

[2017-05-16 10:02] rossf7 opened #109 "Make calico-node unit wait for domains"
Towards giantswarm/giantswarm#1381

Tracking for yesterday's debugging with @calvix and @asymmetric. This cluster startup problem was found. The calico-node unit should wait for the domains and not etcd.

Change has been made in k8scloudconfig and needs to be tested on AWS.

[2017-05-16 10:04] rossf7 commented on #109
For a successful test the ingress controller pods should start and ELB should be healthy.

[2017-05-16 13:30] #80 closed

[2017-05-19 12:04] puja108 opened #116 "run kubelet on master (e.g. for self-hosted calico)"
We need to run a kubelet on master to be able to schedule things like Calico there.

Not sure if we also need to run kube-proxy. Might need to check my local vagrant setup (or directly https://github.com/coreos/coreos-kubernetes)

The kubelet on master should be tainted. From http://docs.projectcalico.org/v2.1/getting-started/kubernetes/installation/hosted/calico.yaml there is a typical toleration

[2017-05-19 12:04] puja108 commented on #40
needs https://github.com/giantswarm/k8scloudconfig/issues/116

[2017-05-22 07:24] rossf7 opened #119 "DNS blackouts due to Route 53"
We see guest cluster problems with DNS records not resolving due to Route 53. This makes the apiserver and etcd unavailable at times.

We aren't using any internal records from Route 53. So we could go back to using Google's public DNS. We removed this due to delays in new public Route 53 records being propagated but this should take 60 seconds or less.

[2017-05-22 07:30] rossf7 commented on #119
Wrong repo

[2017-05-22 07:30] #119 closed

[2017-05-22 08:00] puja108 commented on #40
Based on http://docs.projectcalico.org/v2.1/getting-started/kubernetes/installation/hosted/calico.yaml my current status is (needs templating):

[code]

[2017-05-22 09:06] puja108 commented on #40
In g8s we have this already set up like following (incl templating):
https://github.com/giantswarm/hive/blob/init-bootstrap-node/template_snippets/cloudconfig/g8s_master.yaml#L677
https://github.com/giantswarm/hive/blob/init-bootstrap-node/template_snippets/cloudconfig/g8s_master.yaml#L728

[2017-05-22 09:11] puja108 commented on #116
This is how we do it in g8s (should be mostly transferrable):
kubelet:
https://github.com/giantswarm/hive/blob/init-bootstrap-node/template_snippets/cloudconfig/g8s_master.yaml#L36
kubeproxy:
https://github.com/giantswarm/hive/blob/init-bootstrap-node/template_snippets/cloudconfig/g8s_master.yaml#L289

[2017-05-22 09:13] puja108 commented on #40
In g8s we are running policy controler still as a unit, we could move that to deployment here.

[2017-05-24 05:44] puja108 commented on #116
This should be done, just needs to be validated

[2017-05-24 05:44] #116 closed

[2017-05-24 05:49] puja108 commented on #40
I'll be moving to latest release (currently 2.2.1) directly:
http://docs.projectcalico.org/v2.2/getting-started/kubernetes/installation/hosted/

[2017-05-24 12:51] asymmetric commented on #109
Works.

[2017-05-24 12:51] #109 closed

[2017-05-24 14:58] puja108 commented on #40
I got this working and tested on cluster `wopre`, will do a PR on k8scloudconfig next

[2017-05-26 08:42] puja108 opened #126 "Make Calico MTU optional (only needed in KVM setup)"
AFAIK we are setting lower MTU because if the flannel setup we have with KVM. On AWS and other providers we might not need this so we should have this optional.

[2017-05-26 08:44] calvix commented on #126
i would say this is not a big priority,  because the default MTU is like 50 or so bigger so the  difference is marginal and unless you are transferring a tons of really big files you wont notice any degraded performance

[2017-05-26 08:49] puja108 commented on #40
should be done now

[2017-05-26 08:49] #40 closed

[2017-05-26 08:58] asymmetric commented on #10
Does this issue need to be specced more? It's not clear to me if it's actionable at this point, i.e. should we expand the issue to using multiple users?

[2017-05-26 09:01] puja108 commented on #10
Yes, might need some minor speccing at least as @teemow was also mentioning maybe using the ssh backend of Vault for this.

[2017-05-26 09:13] puja108 commented on #10
The comment I meant from Timo:

[2017-05-26 15:14] puja108 opened #133 "Check if change of cgroup driver is ok"
Because of https://github.com/kubernetes/kubernetes/issues/43805 there's some incompatibility in cgroup drivers moving kubelet to k8s 1.6+

We had
`native.cgroupdriver=systemd`
and I tried starting kubelet with `--cgroup-driver=systemd` but that didn't work.

I now changed our docker config to `native.cgroupdriver=cgroupfs`. CoreOS themselves are now also going with the Docker default of cgroupfs

[2017-05-29 09:48] calvix opened #136 "fetch kubectl URL from configmap"
this has to be dynamic not hardcoded
https://github.com/giantswarm/k8scloudconfig/pull/135/files#diff-44e6c54f43ac9be31121348d531e697fR662

message from Tim:
This should actually be configured via the clustertpr. See https://github.com/giantswarm/kubernetesd/blob/a8528d72f2a2ff7b37c5d6674684a03c543830c1/kubernetes/configmap.yaml#L90. I realize now that this is not specific to KVM so the config sho

[2017-05-29 11:20] xh3b4sd commented on #102
@kopiczko and I have brainstormed a little bit, because we have to sort the public key injection for the kvm-operator now somehow. I am not happy with the way we are doing it in the aws-operator at the moment so I wanted to move further into the right direction. In the future when a customer requests a guest cluster creation, the public keys should be configured with the request as kubernetesd see

[2017-05-29 11:23] JosephSalisbury commented on #136
I feel like we should be using our kubectl docker image, as opposed to downloading it

[2017-05-29 12:11] puja108 commented on #102
@teemow mentioned we could use the SSH backend of Vault.

Re access for users: let's not mix the layers (VM, K8s), but we can talk about user mgmt story other places.

[2017-05-29 13:12] xh3b4sd commented on #102
+1, this is why we want to have different TPRs and different operators for it.

[2017-05-29 14:20] asymmetric commented on #136
@JosephSalisbury I agree, since that's what we do for other binaries (Hyperkube). What do the others think? @giantswarm/team-positive

[2017-05-29 14:22] xh3b4sd commented on #136
My two cents.

- We should configure the URL as described in my PR comment.
- We should use whatever kubectl is appropriate. In case we have another one than the official one, fine. Just do the do.

[2017-05-29 15:05] asymmetric commented on #136
Does it make sense to allow different `kubectl` versions for KVM and AWS? i.e. having two separate flags?

[2017-05-29 15:07] xh3b4sd commented on #136
I do not think so because the guest clusters should be the same. Is there a special reason why you think this should be different?

[2017-05-29 15:10] asymmetric commented on #136
Nope, just checking as I haven't had much to do with kubernetesd or KVM much. All good.

[2017-05-30 07:14] puja108 opened #146 "Use DNS autoscaler"
More recent installations of k8s use an autoscaler (based on #nodes and #cores in the cluster) to ensure an appropriate number of DNS pods:
https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/
https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/dns-horizontal-autoscaler

This is currently not urgent as I think we're ok with spawning 3 replicas (we're just

[2017-05-30 07:31] puja108 opened #147 "Use addon-manager"
The K8s addon-manager (https://github.com/kubernetes/kubernetes/tree/master/cluster/addons/addon-manager) can ensure that certain manifests (by default in '/etc/kubernetes/addons') are ensured to be running (created when not there) or even reconciled (changed back to defaults if changed).

The current version can be run like following: https://github.com/kubernetes/kubernetes/blob/master/test/kube

[2017-05-30 12:50] calvix commented on #147
That would be awesome, we still have to figure out how to do this with calico but anyway good direction.

[2017-06-01 10:19] #136 closed

[2017-06-08 13:14] oponder opened #153 "README"
The readme should explain a couple of things.

- Where does this project live in the over all scheme of things?
- How do I get started with it?  A simple invocation or example with output of what it does is always handy.
- How do I run the tests? (Even if it is 'known' how to do it, it is always nice to have a reminder for others, and sometimes there are some tags, or special things you expect peo

[2017-06-17 21:50] xh3b4sd commented on #103
AFAIK this is done. Closing.

[2017-06-17 21:50] #103 closed

[2017-06-19 10:30] teemow commented on #133
@puja108 within the old platform we ran into some issues with systemd units and docker and the systemd cgroup driver fixed that for us. but if now docker is the way to go i am fine. upgrade to cgroup v2 will be fun :D

[2017-06-19 10:30] teemow commented on #133
oh. can this be closed since we are already on 1.6?

[2017-06-19 11:47] puja108 commented on #133
yes, this issue was mainly to get your input on the issue, so lets close and keep an eye on it if we run into any issues

[2017-06-19 11:47] #133 closed

[2017-06-21 09:27] rossf7 commented on #126
Closing ping @puja108 @calvix

[2017-06-21 09:27] #126 closed

[2017-06-28 16:18] puja108 commented on #107
we removed leader elector and moved policy controller to quay

[2017-06-28 16:18] #107 closed

[2017-06-29 13:48] puja108 opened #160 "mount /var/log/pods in kubelets"
The kubelet creates symlinks in `/var/log/pods/` for the logs pertaining to a pod. As that folder is ephemeral, these symlinks disappear when we restart kubelets. This results in errors like the following:

[code]

[2017-06-29 13:48] puja108 commented on #160
We should also make similar changes on the host cluster in hive/terraform ping @r7vme @calvix @teemow

[2017-07-03 08:40] kopiczko commented on #160
@puja108 it looks more like SIG host cluster than operator.

[2017-07-03 08:44] puja108 commented on #160
@kopiczko this is both, we need it in `k8scloudconfig` for guest clusters and also in the host cluster setups (hive/terraform/...)

[2017-07-03 09:16] calvix commented on #160
fix for aws-terraform and hive are done

[2017-07-03 09:32] puja108 commented on #160
Alright, I guess we can close this

[2017-07-03 09:32] #160 closed

[2017-07-04 19:22] calvix opened #162 "clean calico config at worker start"
When for some reason worker is recreated (ie pod delete/scale or w/e reason) calico wont  start because there will already be records with same IP and different machine ID/hostname

we should add `systemd` unit that will clear etcd

this is how i did that manually:
[code]
`dkpen` is the worker name taken from pod name `worker-dkpen-3853139292-n0m54`

[2017-07-05 10:03] kopiczko commented on #46
@puja108 closing it's in later. Please reopen and put in inbox if relevant.

[2017-07-05 10:17] kopiczko commented on #146
It's in later. Closing. @puja108 feel free to reopen and put in SIG Operator inbox.

[2017-07-05 10:17] #146 closed

[2017-07-05 13:09] webwurst commented on #10
We could use GitHub to read users and keys like https://github.com/webwurst.keys.

[2017-07-05 15:17] puja108 commented on #10
Keybase might also be an option?

[2017-07-05 15:39] puja108 commented on #46
ack, reopening this

[2017-07-06 15:08] xh3b4sd commented on #38
@calvix do you think this is still relevant? It looks to me like the current solution for KVM is already improved and works. Should we do something here or close the issue?

[2017-07-07 09:02] calvix commented on #38
yeah, this not relevant, closing

[2017-07-07 09:02] #38 closed

[2017-07-14 08:48] calvix commented on #42
Do we have spec for how we are going to handle certificates?

Also, where is the configuration file for `kubeadm`?  where we specify configuration param for api,  networks and so on.

[2017-07-19 11:05] calvix commented on #42
Calico config seems to be wrong.
It's migrated to some file from the repository, why ? Is this properly tested?
https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L319

file is
https://github.com/projectcalico/calico/blob/master/v2.3/getting-started/kubernetes/installation/hosted/kubeadm/1.6/calico.yaml
there is some hard coded etcd endpoints without any certificates and so
http

[2017-07-20 13:25] r7vme opened #164 "For fluentd we need to have whole /var/log/ mounted into kubelet container"
See: https://github.com/coreos/bugs/issues/1614

Currently we have only `/var/log/pods` mounted https://github.com/giantswarm/k8scloudconfig/blob/master/templates.go#L33

[2017-07-20 13:27] r7vme commented on #164
cc: @xh3b4sd @calvix this affects probably all customers

[2017-07-20 13:30] webwurst commented on #164
Customer issue for cargarantie: https://github.com/giantswarm/cargarantie/issues/43

[2017-07-24 15:56] r7vme opened #167 "kubelet uses autogenerated self-signed certificates"
There two options in kubelet that we are leaving with default value

     --tls-private-key-file string                             File containing x509 private key matching --tls-cert-file.

Kubelet ends up with self-signed autogenerated certificate on port 10250.

This affects at least Prometheus which forced to ignore tls checks.

[2017-07-27 14:34] #164 closed

[2017-08-09 10:41] webwurst commented on #34
Is this done?

[2017-08-09 10:42] puja108 commented on #34
yes

[2017-08-09 10:42] #34 closed

[2017-08-09 10:54] webwurst opened #172 "Choose sane setting for log-rotation"
See discussion in [#ops](https://gigantic.slack.com/archives/C02MS174K/p1502191201478981).

Currently we use: `--log-opt max-size=50m --log-opt max-file=1`

This might lead to lost log-lines when forwarding logs to Elasticsearch:
- Log shippers like `fluentd`, `filebeat` etc. watch for changes on the conainers log files provided by Docker.
- The log shipper might hang for some seconds because of c

[2017-08-09 10:54] webwurst commented on #172
/cc @teemow

[2017-08-09 10:55] JosephSalisbury commented on #172
Is this an actual problem? Wouldn't increasing `max-file` have the same issue as well?

[2017-08-09 11:00] webwurst commented on #172
If you have `max-file=2` and log shipper hangs temporarily on the end of the second file while this reaches `max-size`, then the first file would be deleted. But that one was already processed by the log-shipper, so all fine with that. A new file is created and the log shipper still has time to finish reading its current file before moving on the new one.

[2017-08-09 11:01] webwurst commented on #172
And this is an actual problem if a customer has set up alerts for special log lines showing up in his central log database. Some might just be missed.

[2017-08-09 11:02] JosephSalisbury commented on #172
Ah, `max-file`, not `max-size`. I see now. Thanks!

[2017-08-09 11:04] teemow commented on #172
@webwurst feel free to create a PR.

[2017-08-11 09:57] kopiczko opened #174 "try to use go-bindata"
We could use gobindata and push the output of the yaml files to the repository.

We can ensure gobindata output is in sync with yaml files by adding a test.

[2017-08-11 10:02] teemow commented on #174
Please see https://github.com/giantswarm/k8scloudconfig/issues/22

:joy:

[2017-08-11 10:11] calvix commented on #174
I felt the go-bindata hate wave too :)

[2017-08-14 17:56] kopiczko commented on #174
I have an idea how to work with that. I'll try to timebox that. Let's see.

[2017-08-23 12:49] r7vme opened #179 "Make Calico ranges configurable"
Currently CALICO_IPV4POOL_CIDR set to default 192.168.0.0/16

[2017-08-25 13:18] JosephSalisbury commented on #179
Calico ranges are now fully configurable, and correct values are rolled out for all installations. Verified by the wonderful mr @r7vme. Closing.

[2017-08-25 13:18] #179 closed

[2017-09-11 12:24] calvix commented on #10
@puja108 @teemow @xh3b4sd

We need to continue on this.
Separate OS account for each person is requested by security (because of audit reasons).
So we need to have a way how to provide list of users and their ssh to the k8scloudconfig.

[2017-09-11 13:29] xh3b4sd commented on #10
This should be quite easy. See https://github.com/giantswarm/kubernetesd/blob/bea1a75406b6442b59ff04de51009b57462462d2/helm/kubernetesd-chart/templates/configmap.yaml#L65. We can just add the puclic keys as we need them to the installations repo and wire them through the kubernetesd configmap. The guest cluster gets the list injected here: https://github.com/giantswarm/kubernetesd/blob/13730c8d47d

[2017-09-12 12:52] calvix commented on #10
ok so we need to add support for multiple user

[2017-09-13 09:11] xh3b4sd commented on #10
@calvix AFAIK you wanted to work on this these days. Please assign yourself and move the issue to the WIP column when you work on it. <3

[2017-09-14 12:19] calvix commented on #10
So I made first stuff, I am not completely sure if this is right and I  got all the things I need to change, so please revise @xh3b4sd @kopiczko @rossf7

PRs:

installations - https://github.com/giantswarm/installations/pull/97
cluster tpr - https://github.com/giantswarm/clustertpr/pull/35
kubernetesd - https://github.com/giantswarm/kubernetesd/pull/266
k8scloudconfig - https://github.com/giantswa

[2017-09-14 12:40] kopiczko commented on #10
Do we need that in kvm-operator?

[2017-09-14 12:45] calvix commented on #10
@kopiczko yes, after I got all stuff on AWS I will also update kvm-operator

[2017-09-15 10:26] calvix commented on #10
merged

[2017-09-15 10:26] #10 closed

[2017-09-19 11:12] calvix commented on #102
solved in https://github.com/giantswarm/k8scloudconfig/issues/10

[2017-09-19 11:12] #102 closed

[2017-09-19 11:14] calvix commented on #100
this should be done right @kopiczko ?

if yes please close

[2017-09-19 12:12] #100 closed

[2017-09-20 11:59] calvix commented on #172
done

[2017-09-20 11:59] #172 closed

[2017-09-21 08:01] r7vme commented on #162
I've started to work on this task.

After asking in Calico stack they recommened to take look on

https://github.com/caseydavenport/calico-node-controller

I was able to test it with on-prem guest cluster. Died node were successfully removed from Calico state.

What is missing:
1) We need to unify node names in our kubernetes (Use hostnames everywhere, currently AWS use hostnames, onprem IP addres

[2017-09-21 09:02] calvix commented on #162
duplicate https://github.com/giantswarm/k8scloudconfig/issues/162#issuecomment-331082448

[2017-09-21 09:02] calvix commented on #162
/sorry

[2017-09-21 09:32] calvix commented on #167
@puja108 should be added to security issues i thnik

[2017-09-22 09:04] puja108 commented on #167
Yes, we need to set those certs, this is also part of https://github.com/giantswarm/giantswarm/issues/1720

cc @jgsqware

[2017-09-22 09:28] calvix commented on #167
should be fixed for `k8scloudconfig`,  `hive` and `aws-terraform` (classic trio)

[2017-10-02 07:29] xh3b4sd commented on #162
@r7vme can you give a status update? AFAIK you worked on this and there have been PRs in the calico node controller fork.

[2017-10-02 07:37] r7vme commented on #162
Sure.

- Initial worked version https://github.com/giantswarm/calico-node-controller
- Installed in `gauss` (see kube-system namespace)
- [Manual test plan](https://docs.google.com/document/d/1_KcPdkmxH13A-Z13RdoYcOUiUd6ANCUcAq-IEtlOsUc/edit)

TODO:
- Execute test plan in `gauss`, if ok proceed further
- Create helm manifests
- Create CircleCI stuff
- Release to AWS host clusters (On-prem has a bl

[2017-10-02 07:58] xh3b4sd commented on #162
I scanned the code. When we notice a problem we can fix it. Other thoughts are these.

- Why do we even need to run something like this? Why is calico itself not doing this? Like, keeping the nodes in sync and updated is a responsibility of calico itself IMO. We should maybe get in contact with the community here. As a calico user needing to run the node controller additionally does not feel right

[2017-10-02 10:26] r7vme commented on #162
Thanks for quick feedback. Appreciate

This is what i did. I contacted to them in slack. See
![2017-10-02-12 12 23-screenshot](https://user-images.githubusercontent.com/1277504/31073145-04e15294-a76b-11e7-896e-f9067338f565.png)

Just to make sure: We are not talking here about Calico version updates.

[remove node](https://github.com/giantswarm/calico-node-controller/blob/master/controller.go#L264

[2017-10-02 10:33] xh3b4sd commented on #162
The calico node controller uses an informer to get events from the API. The informer is configured with the resync period `0`. This means the informer creates a watcher and watches the API, until it breaks. This may happen sooner or later. Until the watcher dies (because the API closes it after some timeout or you close it on your own or the watcher gets disrupted because of network issues etc.) t

[2017-10-06 05:49] calvix commented on #162
I have a second opinion on this.
I am not sure it will cover this story, as this means that after worker/master reboot we may still need to go to the cluster and manually delete old Nodes in order to fix this.

So from my point of view, it still makes sense to have custom calico init container which will clear etcd before the start of calico. (by clear i mean remove any entries with same hostname

[2017-10-06 08:07] xh3b4sd commented on #162
Why is this? This is the task the controller should take care off. This is for instance the reason why the resync period of the cache informer should be quite low. I explained that above already. When the controller does not fix rebooted nodes, we have to fix it in the controller. IMO the controller is the right approach from the design point of view. Having another sidecar would be backwards to m

[2017-10-06 08:38] calvix commented on #162
To my understanding. It cleans calico configuration for a node when its deleted from k8s.
Calico cant predicts if the `NotReady` not is just offline for few sec or if its dead node and should be removed.

[2017-10-06 08:43] xh3b4sd commented on #162
IMO when a node "disappears" it should be deregistered and when it "appears" it should be registered. This is why the resync period should be quite low because it constantly checks the current and the desired state and reconciles towards it. The controller can just do this. It maybe does not do it reliably right now but this is what I offered my help for.

[2017-10-06 08:49] calvix commented on #162
if a machine dies how it will deregister? I can see deregister when machine is properly shutdown, but that doesn't happen always

[2017-10-06 08:55] xh3b4sd commented on #162
The controller should keep state of the existing machines and check if all the machines it holds state for are there. In case one is missing it sees it by comparing the state. Then it can deregister.

[2017-10-06 12:19] calvix commented on #162
I think I am missing something since I don't see how would calico controller do this.
I am going to leave it to you guys.

[2017-10-06 12:25] xh3b4sd commented on #162
Easy, FYI the controller watches the nodes within the k8s API and it has access to the calico cache/store IIRC. This is then totally doable. I am just not sure it does the right thing reliably as it is right now, which is why I asked for serious testing.

[2017-10-06 12:33] calvix commented on #162
But it can detect that machine is down because it was deleted or machine is down because there is some small network hickup?

[2017-10-06 12:57] xh3b4sd commented on #162
It should track its own internal state about the available nodes. When a node is deleted in k8s and thus not visible in the k8s API but present in the internal state, it has to be deleted in the calico cache/store.

[2017-10-09 12:16] calvix commented on #162
`When a node is deleted in k8s ` but this does not happen automatically when kvm pod is recreated.

[2017-10-11 07:33] r7vme commented on #162
Exactly, we need to take care about cleaning up physically deleted nodes.

Just went thru kubernetes behaviour in that case. kubernetes takes care about this in case if it works in cloud provider. I can confirm that in case of AWS nodes cleaned up automatically from k8s. Magic happens in [k8s node controller](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/node/node_controller.

[2017-10-12 13:15] r7vme commented on #162
Calico-node-controller released to all AWS host clusters.

For guest clusters, i think we are good to go too. But it won't benefit for on-prem guest clusters, because (see comment above) deleted nodes are staying in NotReady state and should be deleted first.

I'll see how calico-node-controller will live in host cluster and after a week or so i'll prepare PR.

[2017-10-12 15:23] calvix commented on #162
focus of this issue should be primary for guest cluster so we need to find some solution for it.

[2017-10-12 15:26] xh3b4sd commented on #162
I do not understand the problem with the guest clusters. So guest cluster nodes are just `NotReady` and not deleted. This is still a state we can observe and act upon. The controller has to be adapted though.

[2017-10-12 21:01] r7vme commented on #162
Let's summarize what we need/have.

Initial problem was that after node recreation new node were not able to join, because Calico had old node with the same ip address.

"vanilla "calico-node-controller" fixes this problem 100% for any AWS based cluster. Because k8s clean ups dead nodes automatically (--cloud-provider=aws) and calico-node-controller replicates this to Calico. PROFIT!

This problem

[2017-10-13 07:46] xh3b4sd commented on #162
Isn't there some garbage collection in Kubernetes? Can't we configure nodes with a `NotReady` state to be garbage collected after a couple of minutes?

I still don't understand why it is important to remove the nodes though. What I understood was that calico has internal state and the node controller cleans this state as soon as some node is detected as "dead". Why is it necessary to completely pu

[2017-10-13 08:08] r7vme commented on #162
When node deleted this info should be proposed in following way.

Source of truth (e.g AWS EC2 instance list) ==1==> K8s ==2==> Calico.

Step 1 covered by k8s natively for clouds. Not covered for on-prem.
Step 2 covered by calico-node-controller for all.

Problem that we don't know source of truth with baremetal.

Yes, i'm also thinking about purging NotReady nodes. But it's not the best thing to

[2017-10-13 08:35] r7vme commented on #162
@xh3b4sd what is your ideas how we can get info about pods from host cluster/kvm-operator?

[2017-10-13 08:43] xh3b4sd commented on #162
So our source of truth is if the guest cluster pod which runs the kubelet exists or not. The node controller is already running on the host cluster AFAIK so fetching such information should work. It is only that we have to adapt the node controller to support our Giant Swarm specific stuff but this can be implemented in a abstracted/general way. There can be some onprem provider that supports chec

[2017-10-13 08:46] r7vme commented on #162
what node controller are referring to? calico-node-controller or node controller that sits inside kube-contoller-manager?

[2017-10-13 08:51] xh3b4sd commented on #162
The calico one.

[2017-10-13 14:42] r7vme commented on #162
It's not running on on-prem host cluster, because we are using ip addresses there, but calico uses host names. https://github.com/giantswarm/hive/pull/140

[2017-10-13 15:41] calvix commented on #162
but calico-node-controller is running and managing k8s where it runs. It cannot also manage all the guest clusters

[2017-10-13 16:01] xh3b4sd commented on #162
I do not feel like I help you guys here with this. Go ahead on your own behalf. Let me know when I can help somehow. At this point I have the feeling I only confuse and make the story take longer. In my head I think I know how to solve it but I probably miss some details you are aware of and I don't. So I shut up now. :D

[2017-10-15 08:41] r7vme commented on #162
Okay, let me take this an as a starting point implement `kvm-operator-node-controller` that will run inside cluster and just clean up nodes on NotReady state after timeout. I'll keep in mind that later we will integrate real "source of truth" there.

It will be simple Go service (script) that will grab k8s nodes and if needed execute node delete.

@calvix WDYT?

[2017-10-16 08:34] calvix commented on #162
sounds good to me, would be also good idea to try ping node if its really dead before deleting

[2017-10-16 08:35] calvix commented on #162
it could also run outside in host cluster and iterate on all `kvm` TPR and use certs that cert-operator created

This way we are not  screwed when this pods cant run in  the  guest cluster because of bad nodes

[2017-10-23 08:37] jgsqware commented on #47
Close by this one To join the video meeting, click this link: https://meet.google.com/gru-cxuz-vct

[2017-10-23 08:37] #47 closed

[2017-10-23 15:09] r7vme commented on #162
Hello,

I'm doing some progress in kvm-operator-node-controller,  but not ready to commit yet.

At the moment i'm internally modifying this [PR](https://github.com/giantswarm/kvm-operator-node-controller/pull/1) to run in host cluster.

- implemented provider that checks if pod exists and Ready
- added kubernetes files
- need to finalize some code things (e.g. micrologger and set namespace explici

[2017-10-26 20:19] r7vme commented on #162
Good evening, i did some progress with node-controller and ready for review. Tested in lycan. Tomorrow i also want to write down test plan and go thru one more time.

What we have: node-controller (for k8s) runs in host cluster in guest cluster namespace as pod. It will makes sure to clean up node from guest cluster if it was deleted or restarted. Certificates for guest cluster are taken from api

[2017-10-27 08:03] xh3b4sd commented on #162
So in host or in guest? Based on the KVM operator changes it is in guest.

[2017-10-27 08:36] r7vme commented on #162
pod in host cluster. pod namespace is XXXXX. Where XXXXX is id of guest cluster :D

[2017-10-27 15:50] xh3b4sd commented on #174
I would like to close this. Either invest an hour now or never do it. I want to remove such issues from the board.

[2017-10-30 09:17] r7vme commented on #162
I'm waiting on one PR approval.

All PRs (all tested together):
https://github.com/giantswarm/kvm-operator-node-controller/pull/4 - in review
https://github.com/giantswarm/kubernetesd/pull/289 - approved
https://github.com/giantswarm/kvm-operator/pull/221 - approved
https://github.com/giantswarm/kvmtpr/pull/51 - merged

When all above will be merged, we still need to wait when new version of k8scl

[2017-11-01 11:30] calvix opened #228 "set-ownership-etcd-data-dir.service fails on kvm"
service `set-ownership-etcd-data-dir.service` on guest cluster fails on kvm

there is a problem that in aws the directory is on ebs but on kvm its mounted disk from underlying fs.
This means that there has to be an event for mount and that means delay.
[code]

Also we should not use 3x `ExecStart` but rather 2x `ExecStartPre` + 1x `ExecStart`

[2017-11-01 11:34] calvix commented on #162
Closing.

[2017-11-01 11:34] #162 closed

[2017-11-07 16:50] #174 closed

[2017-11-08 08:10] calvix commented on #228
As you can see I stated that it fails on KVM.

I have lots of other work I want to do so I don't wanna take it now. Its part of security and CIS so i thnik its pretty important.

fyi @jgsqware

[2017-11-09 07:07] jgsqware commented on #228
I'll take it

On Wed, 8 Nov 2017, 09:10 Vaclav Rozsypalek, <notifications@github.com>
wrote:

[2017-11-13 16:43] xh3b4sd commented on #46
Are we doing this already? I have in mind something happened regarding this.

[2017-11-15 10:56] fgimenez opened #242 "Yaml templates in k8scloudconfig should be validated"
Just a simple yaml parser as part of unit testing could prevent issues in dependant projects (see #241).

[2017-11-17 16:34] puja108 commented on #46
AFAIK we're not setting any of these flags, we should check the best practices and other things mentioned in the URLs above. We can still go down when the user overloads a node.

[2017-11-26 15:08] xh3b4sd commented on #228
@jgsqware since you wanted to take this, is there some progress you want to share?

[2017-11-27 10:14] jgsqware commented on #228
I'll take it today

[2017-11-29 10:38] puja108 commented on #167
let's check if we fixed it

[2017-11-29 10:39] puja108 commented on #167
seems it's not done so we should do it

[2017-11-29 15:50] calvix commented on #167
yep still not there :)

[2017-12-01 11:40] calvix commented on #228
This is not fixed, looks like my assumption was wrong.
[code]

[code]

I am not 100% right about all stuff so even if I say something please be sure to test everything and always before doing merge.

[2017-12-01 12:31] jgsqware commented on #228
Agree with you @calvix. my bad, due to not the right branch in kvm-operator. This is fixed in the k8scloudconfig via https://github.com/giantswarm/k8scloudconfig/pull/250.

will be fixed when we go on master, or I can cherry-pick the change on the pinned branch

[2017-12-01 13:46] calvix commented on #228
cool thanks :)

[2017-12-08 15:58] #228 closed

[2017-12-12 08:04] fgimenez commented on #242
This can be done as part of giantswarm/giantswarm#2249

[2018-01-23 12:57] puja108 opened #290 "k8scc: update RBAC manifests to v1 api version"
we are currently still using the old api versions, which will get deprecated soon

[2018-01-23 12:58] puja108 opened #291 "k8scc: update deployments and daemonsets to apps/v1"
we are currently still using the old api versions, which will get deprecated soon

[2018-02-26 17:46] rossf7 commented on #147
Yes I think we should close. This is covered by giantswarm/giantswarm#1902 and we'll be using `chart-operator` to deploy addons.

[2018-02-27 08:15] calvix commented on #147
Yep we can close.

[2018-02-27 08:15] #147 closed

[2018-02-27 10:43] puja108 commented on #46
I guess we cover it in https://github.com/giantswarm/giantswarm/issues/2634

/cc @corest

[2018-02-27 10:43] #46 closed

[2018-02-27 10:46] xh3b4sd commented on #42
Lets close this issue for now. We will revive it as soon as it makes sense for us and we are working on the matter.

[2018-02-27 10:46] #42 closed

[2018-03-27 19:03] xh3b4sd commented on #290
How important is this actually? Is there a k8s version which removes the version we are currently using?

[2018-04-03 14:30] puja108 commented on #290
I think this is still not super urgent as 1.10 still supports the old format, but 1.11 might bring a deprecation galore. I'd label it boyscouting as it is very basic conversion

[2018-04-03 14:53] xh3b4sd commented on #290
@giantswarm/sig-operator any taker?

[2018-04-05 09:07] puja108 commented on #290
IIRC just bump version. But better check. Our docs already have it

Puja
________________________________
From: Fernando Ripoll <notifications@github.com>
Sent: Wednesday, April 4, 2018 10:23:06 AM
To: giantswarm/k8scloudconfig
Cc: Puja; Mention
Subject: Re: [giantswarm/k8scloudconfig] k8scc: update RBAC manifests to v1 api version (#290)

I can take it. @puja108<https://github.com/puja108> do you

[2018-04-09 13:31] pipo02mix commented on #290
Is this only for k8s cloud config resources? or also cover all operators/services?

[2018-04-17 10:45] pipo02mix commented on #290
done

[2018-04-17 10:45] #290 closed

[2018-05-10 17:51] rossf7 commented on #291
Picking this up and will do daemonsets too.
https://kubernetes.io/docs/reference/workloads-18-19/#post-1-9

Will start with kube-state-metrics and node-exporter as they are being migrated to charts. We also need to make k8scc changes to remove these and will do the rest of the template updates at the same time.

[2018-05-11 08:07] puja108 commented on #291
@rossf7 so I guess you are doing it as part of migrating stuff to chart-operator for now right? the manifests inside k8scc we migrate later?

[2018-05-11 08:25] puja108 commented on #291
yeah, I think we just do it in chart-op for now, and then we'll see about the rest at some point

[2018-05-15 08:53] rossf7 commented on #291
I created giantswarm/giantswarm/issues/3194 for the managed services charts. This is done but we still need to do the remaining k8scloudconfig resources. Putting back on the backlog for now.

[2018-05-23 09:11] Lennie commented on #167
Is there a plan what the solution should look like ? Because it looks like it hasn't been fixed ?

[2018-05-23 09:16] puja108 commented on #167
@jgsqware this is part of CIS work, can you check if this is still open and otherwise see when we want to do this, shouldn't be hard as AFAIK we already have the certs on the machine, just need to wire them up.

[2018-06-25 08:56] xh3b4sd commented on #291
@puja108 would you like to lead a SIG project to get this done? Or what is missing here?

[2018-06-25 10:40] puja108 commented on #291
For me the biggest question/risk is not breaking updates, as I'm currently not sure if a apps/v1 DS might not just coexist with an old one. Cause we are not running any migration steps between k8scc versions, we would need to check if an upgrade doesn't result in duplicate DSs or deployments.

That said, I can just start and check into that, and I can even do some boyscouting on getting this done

[2018-06-27 10:08] jgsqware commented on #167
Related to this: https://github.com/giantswarm/giantswarm/pull/2223

[2018-06-27 10:08] #167 closed

[2018-09-19 12:58] #33 closed

[2018-11-09 17:48] xh3b4sd commented on #291
FMI got this addressed meanwhile?

[2018-11-19 13:49] puja108 commented on #291
No, I still see it in https://github.com/giantswarm/k8scloudconfig/blob/master/v_3_7_1/master_template.go

I think it would be good for @giantswarm/team-spirit to include it in the next k8s upgrade (1.13) and/or for @giantswarm/sig-infrastructure in the next calico upgrade (as other than the kube-proxy DS, calico should be the last deployment/DS in k8scc). On the note to latter, not sure why there

[2020-06-05 13:06] tfussell commented on #291
This is done 😄

[2020-06-05 13:06] #291 closed

[2021-01-19 08:29] oponder commented on #153
Closing stale issues that I created.

[2021-01-19 08:30] oponder commented on #153
Closing stale issues that I created.

[2021-01-19 08:30] #153 closed

[2021-08-20 12:45] #242 closed